.root {
  background: #15224c;
  color: var(--mantine-color-gray-0);
}

.headerbutton {
  opacity: 0.3;
  height: 60px;
  padding: var(--mantine-spacing-sm);
  transition: 0.1s ease-in-out;

  &:hover {
    background: rgba(255, 255, 255, 0.05);
    opacity: 1;
  }
}

.headerbutton_active {
  opacity: 1;
}
